[run]
omit =
    # omit anything in a lib directory anywhere
    khazana/core/models/*
    khazana/exchange_rates/models/*
    khazana/transactions/models/*
    

[report]
fail_under = 70
sort = Cover
